{% load static %}
{% if candidate_list %}
    <ul>
        {% for candidate in candidate_list %}
        <li><a href="/gov/{{ candidate.id }}/">
            <div>
                <div>
                    <img src="{% static candidate.image_url %}" alt="profil de {{ candidate.last_name }}"/>
                </div>
                <div>{{ candidate.first_name }} {{ candidate.last_name }}</div>
            </div>
        </a></li>
        {% endfor %}
{% else %}
    <p>No candidates are available.</p>
{% endif %}
    </ul>